@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* width */
    ::-webkit-scrollbar {
        width: 2px;
        margin-left: 102px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #f87315;
        border-radius: 10px;
    }
}